.Post{
    text-align: center;
    padding: 5px;
}
.Post textarea {
    border:none;
    outline: none;
    font-size: 25px;
    border:1px solid burlywood;
    width:100%;
    margin-top:30px;
    resize: none;
    border-radius: 20px;
    height: 200px;
    background-color: #f9f3df;
}