.Post{
    padding:5px;
    margin:2px 0;
}
.Post #title{
    font-size: 20px;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 450px;
    padding: 5px;
    background: linear-gradient(180deg, rgba(249,243,223,1) 14%, rgba(205,242,202,0.8687850140056023) 48%, rgba(249,243,223,1) 100%);
}